html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 0;
    text-decoration: 0;
    font: 100% $font-stack;
    color: $primary-color;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

%header {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}

%header-nav {
    flex-grow: 2;
    align-self: flex-start;
    display: flex;
    justify-content: right;
}


body { 
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    @extend %header;
    p[id="logo"] {
        border-radius: 50%;
        border: $border;
        background: $secondary-color;

        width:  75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 150%;
        font-weight: bold;
    }

    p[id="title"] {
        margin-left: 15px;
        font-size: 200%;
        font-weight: bold;
    }

    img[id="hamburger"]{
        display: none;
    }

    nav {
        @extend %header-nav;
        a {
            width: 75px;
        }
    }
}

main { 
    display: flex;
    flex-direction: row;
    margin: 15px;
}

article {
    @include article;
    p[id="header-lorem"]{
        @include background-article-title($bckg-title: lightblue);
    }

    p[id="header-ipsum"]{
        @include background-article-title($bckg-title: orange);
    }

    p[id="header-dolor"]{
        @include background-article-title($bckg-title: pink);
    }

    p[id="text"]{
        padding: 15px;
    }
    
}

.content {
    flex: 1 0 auto;
}

footer {
    border-top: $border;
    margin-top: 15px;
    background: $secondary-color;
    
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

p[id="author"] {
    font-weight: bold;
}

p {
    margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    @include media-devices-main-header(min-width, max-width);
    main {
        display: inline-block;
        padding: 15px;
    }
    main > article {
        padding: 0px;
        margin: 0px;
        width: 100%;
        border: 2px solid black;
        background: lightgray;
    }

    article[id="one"]{
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }

    article[id="two"]{
        width: 47%;
        float: left;
        margin-top: 15px;
        margin-right: 15px;
    }

    article[id="three"]{
        width: 47%;
        float: right;
        margin-top: 15px;
        margin-left: 15px;
    }

}

@media screen and (min-width: 0px) and (max-width: 600px){

    @include media-devices-main-header(min-width, max-width);
    footer {
        display: none;
    }

    main { 
        flex-wrap: wrap;
    }

}